@import "vars";

.menu{
	display: flex;
	margin-top: 44px;
	margin-right: 33px;
	list-style: none;

	
	&__item + &__item {
		margin-left: 40px;
	}

	&__link{
		font-family:$main-font;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: $accent;
		text-decoration: none;


	}
}